<h1><a href="/">Adopt Don't Shop</a></h1>

<p><a href="/shelters/new">Create New Shelter<a/></p>

<h2>Shelters</h2>

<ul>
<% @shelters.each do |shelter| %>
    <li><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></li>
<% end %>
</ul>
