

<ul>
<% @pets.each do |pet| %>
    <li><%= pet.name %></li>
      <ul>
        <li><img src= <%= pet.image %>></li>
        <li>Sex: <%= pet.sex %></li>
        <li>Age: <%= pet.approximate_age %></li>
      </ul>
<% end %>
</ul>
