
<div class="front_page">
  <h3>Mudbloods > Purebloods</h3>
  <img src="https://assets.simpleviewinc.com/simpleview/image/fetch/q_75/https://assets.simpleviewinc.com/simpleview/image/upload/crm/denver/Skyline-from-City-Park-Credit-VISIT-DENVER_ff0ebf30-9974-d6f4-c30321bf4a19c06e.jpg">
</div>
