body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

header {
  background: #92E0E5;
  color: white;
  padding: 0px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  padding: 17px 10px;
}

nav li:hover {
  background: #3F8DA7;
  color: white;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

#hero {
  background: url('https://assets.simpleviewinc.com/simpleview/image/fetch/q_75/https://assets.simpleviewinc.com/simpleview/image/upload/crm/denver/Skyline-from-City-Park-Credit-VISIT-DENVER_ff0ebf30-9974-d6f4-c30321bf4a19c06e.jpg') no-repeat;
  background-size: auto;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
}

#hero h2 {
  font-size: 30px;
  margin-bottom: 25px;
  text-decoration: none;
}
